{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
<section class='index'>
    <h1>Envoyer un message</h1>

    {{ include('contact/_form.html.twig') }}


    </section>
{% endblock %}
